- content_for :body_class do
  about

- content_for :title do
  About Data Uncovered

= show_flash_message
.block-about
  %h1 About Data Uncovered
  .aside
    .frame
      %ul
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => contact_path} Contact us
  .column
    %span
      Development data should be open: easy to find and understand. No walls.
    %p 
      Data Uncovered is a project of the #{link_to 'Population Council', 'http://www.popcouncil.org'}. We created this website with the support of #{link_to 'The William and Flora Hewlett Foundation', 'http://www.hewlett.org/'} to promote data access and use, particularly among non-technical users in low-resource settings. 
    %p
      The premise is simple. Information is essential for good decision-making, but access to information is often restricted. It's hard to believe, but the idea of 'open data' is still pretty new, despite the fact that the idea of 'sharing' is pretty old. 
    %p
      Access to data, however, is only one hurdle to better decision-making. Another big one is data comprehension and use. Without some basic training, lay users can struggle to make sense of data. And data lovers don't always anticipate the needs of lay users when sharing data. 
    %p
      We had these two challenges in mind when we created Data Uncovered. We wanted to create a spot where people can find interesting data and learn more about what it all means. 
    %p
      The first feature we added to the site was the Development Data Catalog, a collection of local data resources that don't make it into some of the big data warehouses. We forked a data sharing platform called the "National Data Catalog" from #{link_to 'Sunlight Labs', 'http://sunlightlabs.com'} and went to work. Anyone can browse the catalog, and users who register for a free account can add resources, make private notes, leave comments, mark favorites, get email notifications about new records, and report problems. Give it a try.
    %p
      We have several other things in the works, including a contest series for journalists and programmers in Ghana, Senegal, and Namibia, in addition to our first tools for making data more understandable. And there is always the Data Uncovered Blog to keep you up-to-date on what is happening in the world of data. 
    %p
      Have a look around!
