- content_for :body_class do
  about

- content_for :title do
  About the National Data Catalog

= show_flash_message
.block-about
  %h1 About Data Uncovered
  .aside
    .frame
      %ul
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => contact_path} Contact us
  .column
    %span
      The National Data Catalog (NatDatCat) is an open platform for government data sets and APIs. NatDatCat makes it easy to find datasets by and about government, across all levels (federal, state, and local) and across all branches (executive, legislative, and judicial). The data here is imported from several sources and curated by our staff. Currently, we have importers setup for <a href="http://data.gov">Data.Gov</a> and the <a href="http://data.octo.dc.gov">DC Data Catalog</a>.
    %p NatDatCat is a project of the <a href="http://sunlightlabs.org">Sunlight Labs</a> at the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>. The platform consists of an API and a Web application. The source code is open source and the data is freely available via our API.
