- content_for :body_class do
  about

- content_for :title do
  Data Uncovered Tools

= show_flash_message
.block-about
  %h1 About Data Uncovered
  .aside
    .frame
      %ul
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => contact_path} Contact us
  .column
    %span
      Tools
    %p 
      Data Uncovered Tools.
