- content_for :title do
  Data Uncovered Home
= show_flash_message
/ content
#content
  .box-top
    .frame
      %h1 Development data
      %h2 should be open:
      %span.mark easy to find and understand.
      .txt
        %strong No Walls.
      %p
        Learn more:
        %a{:href => about_path} Take a tour
        or
        %a{:href => signup_path} Register
  / gallery
  .gallery
    .gallery-inf
      %ul
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/unicef.jpg", :width => "584"}/
          %a.txt-holder{:href => "http://blog.datauncovered.com/?p=6"}
            .txt
              %h2 State of the World's Adolescents
              %p A Global Gap in Knowledge and Action
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/world-bank.jpg", :width => "581"}/
          %a.txt-holder{:href => "http://blog.datauncovered.com/?p=23"}
            .txt
              %h2 Global Development? 
              %p We can all make an app for that.
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/guardian.jpg", :width => "581"}/
          %a.txt-holder{:href => "http://blog.datauncovered.com/?p=95"}
            .txt
              %h2 Data Journalism on Libya 
              %p Visualizing Operation Unified Protector 
    / swicher
    .swicher
/ sidebar
#sidebar
  %ul.list-btn
    %li
      %a.box-holder{:href => data_records_path}
        %span.box-btn
          %span.find find
        %span.txt
          %em
            %strong Find
            %span Search the Catalog
    %li
      %a.box-holder{:href => tools_path}
        %span.box-btn
          %span.apply Apply
        %span.txt
          %em
            %strong Apply
            %span Use the Tools
    %li
      %a.box-holder{:href => "http://ask.datauncovered.com/"}
        %span.box-btn
          %span.ask ask
        %span.txt
          %em
            %strong Ask
            %span Ask the Crowd
    %li
      %a.box-holder{:href => contest_index_path}
        %span.box-btn
          %span.create create
        %span.txt
          %em
            %strong Create
            %span Enter the Contest
  / box-catalog
  .box-catalog
    %h2 Most Recent Catalog Entries
    %ul
      - @top.each do |top|
        %li
          .frame
            %h3=link_to h(top.title), data_record_path(top)
            %p=h top.description
            
