- content_for :title do
  Data Uncovered Home
= show_flash_message
/ content
#content
  .box-top
    .frame
      %h1 Development data
      %h2 should be open:
      %span.mark easy to find and understand.
      .txt
        %strong No Walls.
      %p
        Learn more:
        %a{:href => about_path} About
        or
        %a{:href => signup_path} Register
  / gallery
  .gallery
    .gallery-inf
      %ul
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/dakar.png", :width => "584"}/
          %a.txt-holder{:href => "http://bit.ly/dakaropendata"}
            .txt
              %h2 Register Now!
              %p In conjuction with International Conference on Family Plannning
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/accra.png", :width => "581"}/
          %a.txt-holder{:href => "http://blog.datauncovered.com/?p=499"}
            .txt
              %h2 Register Now! 
              %p Space is limited
        %li
          %img{:alt => "image description", :height => "300", :src => "/images/hack.png", :width => "581"}/
          %a.txt-holder{:href => "http://blog.datauncovered.com/?p=497"}
            .txt
              %h2 Register Now! 
              %p Space is limited 
    / swicher
    .swicher
/ sidebar
#sidebar
  %ul.list-btn
    %li
      %a.box-holder{:href => data_records_path}
        %span.box-btn
          %span.find find
        %span.txt
          %em
            %strong Find
            %span Search the Catalog
    %li
      %a.box-holder{:href => tools_path}
        %span.box-btn
          %span.apply Apply
        %span.txt
          %em
            %strong Apply
            %span Use the Tools
    %li
      %a.box-holder{:href => "http://blog.datauncovered.com/"}
        %span.box-btn
          %span.ask ask
        %span.txt
          %em
            %strong Blog
            %span Learn about data
    %li
      %a.box-holder{:href => contest_index_path}
        %span.box-btn
          %span.create create
        %span.txt
          %em
            %strong Create
            %span Enter the Contest
  / box-catalog
  .box-catalog
    %h2 Most Recent Catalog Entries
    %ul
      - @top.each do |top|
        %li
          .frame
            %h3=link_to h(truncate(top.title, :length => 75)), data_record_path(top)
            %p=h(truncate(top.description, :length => 85))
            
