.block-email
  - form_tag send_reset_path, {:method => 'get', :class => "form-email"} do
    %fieldset
      %legend Title
      .title
        %h1 Forgot your password?
        = flash[:error]
      .row
        %label{:for => 'email_address'} Email
        .text
          = text_field_tag :email_address, 'Email'
        %p We'll email you instructions on how to reset your password
        .btn
          %input.btn-submit{:type => 'submit', :value => 'JOIN!', :name => 'commit'}
        %p
          No account yet?
          You'll need to
          = link_to 'signup', signup_path
          first.
