html {font-size: 62.5%;}
body{
	background:#1b325f;
	margin:0;
	font:1em Arial, Helvetica, sans-serif;
	color:#333;
	min-width:1002px;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
img{border-style:none;}
form,
fieldset{
	padding:0;
	margin:0;
	border:0;
}
input,
textarea,
select{
	vertical-align:middle;
	font:11px Arial, Helvetica, Verdana, sans-serif;
}
/* wrapper */
#wrapper {
	width: 100%;
	background:#fff;
}
.w1{
	width: 960px;
	position: relative;
	padding:111px 0 0;
	margin:0 auto;
}
/* header */
#header{
	width:935px;
	height:111px;
	position:absolute;
	top:0;
	left:0;
	padding:0 10px 0 15px;
}
.area{
	width:100%;
	overflow:hidden;
	margin:15px 0 14px;
}
/* logo */
.logo-holder{
	width:100%;
	overflow:hidden;
}
.logo{
	width:584px;
	height:62px;
	background:url(../images/logo_datauncovered.gif) no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
}
.logo2 a,
.logo a{
	height:100%;
	display:block;
}
.logo2{
	width:165px;
	height:27px;
	float:right;
	margin:24px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo_populationcouncil.gif) no-repeat;
}
/* nav */
.nav-holder{
	width:609px;
	overflow:hidden;
	float:left;
}
#nav{
	width:656px;
	margin:0;
	padding:3px 0 0;
	list-style:none;
	font-size:14px;
	line-height:16px;
	text-transform:uppercase;
	overflow:hidden;
}
#nav li{
	float:left;
	padding:0 41px 0 0;
}
#nav li a{
	float:left;
	color:#666;
}
#nav li a:hover{
	color:#3a86c7;
	text-decoration:none;
}
#nav .active a,
#nav .active a:hover{
	color:#3a86c7;
	font-weight:bold;
	text-decoration:none;
}
/* form-search */
.form-search{
	width:326px;
	float:right;
	overflow:hidden;
}
.form-thoughts legend,
.form-notes legend,
.form-inform2 legend,
.form-inform legend,
.form-account legend,
.form-contact legend,
.form-login legend,
.form-register legend,
.form-create legend,
.form-select legend,
.form-search legend {
	font-size:0;
	height:1px;
	left:-9999px;
	line-height:0;
	overflow:hidden;
	position:absolute;
	top:auto;
	width:1px;
}
.form-login label,
.form-register label,
.form-search label{display:none;}
.form-search .logout,
.form-search .account{
	float:left;
	height:21px;
	padding:0 0 0 6px;
	margin:0 5px 0 0;
	color:#666;
	font-size:11px;
	line-height:21px;
	cursor:pointer;
	background:url(../images/bg-btn.gif) no-repeat;
}
.form-search .logout{margin:0 4px 0 0;}
.form-search .logout span,
.form-search .account span{
	float:left;
	padding:0 5px 0 0;
	background:url(../images/bg-btn.gif) no-repeat 100% 0;
}
.form-search .logout:hover span,
.form-search .account:hover span{text-decoration:underline;}
/* text */
.form-search .text{
	float:left;
	width:155px;
	height:13px;
	padding:5px 7px 4px;
	background:url(../images/bg-input.gif) no-repeat;
}
.form-search .text input{
	float:left;
	margin:0;
	padding:0;
	width:155px;
	line-height:13px;
	color:#1b325f;
	text-transform:uppercase;
	outline:none;
	background:none;
	border:0;
}
.form-search .btn-submit{
	width:33px;
	height:22px;
	float:right;
	margin:0;
	padding:0;
	border:0;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0;
	font-size:0;
	background:url(../images/btn-go.gif) no-repeat;
}
/* main */
#main {
	width:935px;
	overflow: hidden;
	padding:23px 10px 0 15px;
}
/* content */
#content{
	width:584px;
	float:left;
	overflow:hidden;
}
/* box-top */
.box-top{
	width:584px;
	overflow:hidden;
	margin:0 0 25px;
	background:#eef6fe url(../images/bg-box-top.gif) no-repeat;
}
.box-top .frame{
	width:556px;
	overflow:hidden;
	padding:3px 15px 7px 13px;
	background:url(../images/bg-frame.gif) no-repeat 0 100%;
}
.box-top h1{
	margin:0;
	color:#1b325f;
	font:4.7em Helvetica, Arial, sans-serif;
}
.box-top h2{
	color:#1b325f;
	margin:0 0 10px;
	font:3.8em Helvetica, Arial, sans-serif;
}
.box-top .mark{
	display:block;
	margin:0 0 17px 77px;
	color:#56a9f7;
	font:3.2em Helvetica, Arial, sans-serif;
}
.box-top .txt{
	width:100%;
	overflow:hidden;
	text-align:right;
}
.box-top strong{
	margin:0 0 5px;
	color:#1b325f;
	font:bold 4.5em Helvetica, Arial, sans-serif;
}
.box-top p{
	text-align:right;
	font-size:1.6em;
	line-height:1.6em;
	color:#1b325f;
	margin:0;
}
.box-top p a{color:#3a86c7;}
/* gallery */
.gallery{
	width:584px;
	overflow:hidden;
	height:300px;
	position:relative;
	margin:0 0 42px;
}
.gallery-inf {
	width:584px;
	overflow:hidden;
	height:300px;
}
.gallery-inf ul{
	width:100%;
	height:300px;
	overflow:hidden;
	position:relative;
	padding:0;
	margin:0;
	list-style:none;
}
.gallery-inf ul li{
	width:584px;
	height:300px;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.gallery-inf ul li.active {
	display:block;
}
.gallery-inf img{display:block;}
.gallery-inf .txt-holder{
	width:584px;
	position:absolute;
	left:0;
	bottom:0;
}
.gallery-inf .txt{
	width:560px;
	overflow:hidden;
	padding:8px 12px;
	font-size:17px;
	line-height:19px;
	color:#fff;
	background:url(../images/bg-txt-holder.png);
}
.gallery-inf .txt p{
	margin:0;
	position:relative;
}
.gallery-inf .txt h2{
	font-size:20px;
	line-height:22px;
	margin:0 0 3px;
	font-weight:normal;
	position:relative;
}
/* swicher */
.swicher {
	position:absolute;
	right:7px;
	bottom:22px;
	width:60px;
}
.swicher ul {
	margin:0;
	padding:0;
	list-style:none;
}
.swicher li{
	float:left;
	margin:0 3px 0 0;
}
.swicher li a{
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	background:url(../images/bg-swicher.gif) no-repeat;
}
.swicher .active a,
.swicher li a:hover{background-position:0 -16px;}
/* sidebar */
#sidebar{
	width:326px;
	float:right;
	overflow:hidden;
}
/* list-btn */
.list-btn{
	width:326px;
	overflow:hidden;
	margin:0;
	padding:0 0 11px;
	list-style:none;
}
.list-btn li{
	width:326px;
	overflow:hidden;
	margin:0 0 6px;
	float:left;
	background:#ddeefd url(../images/bg-list-btn.gif) no-repeat;
}
.list-btn .box-holder{
	width:300px;
	overflow:hidden;
	display:block;
	padding:9px 13px 8px;
	cursor:pointer;
	background:url(../images/bg-box-holder.gif) no-repeat 0 100%;
}
.list-btn .box-holder:hover{text-decoration:none;}
.list-btn .box-btn{
	width:54px;
	float:left;
	overflow:hidden;
}

.list-btn .box-btn span{
	display:block;
	width:40px;
	height:40px;
	overflow:hidden;
	text-indent:-9999px;
}
.list-btn .box-holder:hover .box-btn span{background-position:0 -40px;}
.list-btn .find{background:url(../images/bg-find.gif) no-repeat;}
.list-btn .apply{background:url(../images/apply.gif) no-repeat;}
.list-btn .ask{background:url(../images/ask.gif) no-repeat;}
.list-btn .create{background:url(../images/create.gif) no-repeat;}
.list-btn .txt{
	float:left;
	overflow:hidden;
	padding:7px 0 2px 15px;
	color:#1b325f;
	min-height:32px;
	background:url(../images/bg-txt.gif) repeat-y;
}
* html .list-btn .txt {	overflow:visible;	height:32px;}
.list-btn .txt em{
	display:block;
	font-style:normal;
}
.list-btn .txt em strong{
	font-size:2em;
	color:#3a86c7;
	padding:0 7px 0 0;
}
.list-btn .txt em span{
	font-size:1.4em;
	line-height:1.4em;
}
/* box-catalog */
.box-catalog{
	width:326px;
	overflow:hidden;
}
.box-catalog h2{
	font-size:1.8em;
	line-height:1.8em;
	color:#3a86c7;
	margin:0 0 12px 13px;
}
.box-catalog ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.box-catalog ul li{
	float:left;
	width:326px;
	margin:0 0 9px;
	background:#f3f5f7 url(../images/bg-box-catalog.gif) no-repeat;
}
.box-catalog ul .frame{
	width:296px;
	overflow:hidden;
	padding:8px 15px;
	background:url(../images/bg-frame02.gif) no-repeat 0 100%;
}
.box-catalog h3{
	font-size:1.4em;
	line-height:1.4em;
	color:#4c4c4c;
	margin:0 0 2px;
}
.box-catalog p{
	font-size:1.2em;
	line-height:1.2em;
	color:#4c4c4c;
	margin:0;
}
/* block-catalog */
.block-catalog{
	width:935px;
	overflow:hidden;
	padding:16px 0 37px;
}
.block-record .box-info,
.block-catalog .box-info{
	width:100%;
	overflow:hidden;
	margin:0 0 -5px;
}
/* box-select */
.box-select{
	width:740px;
	float:left;
	overflow:hidden;
}
.box-select h1{
	font-size:25px;
	line-height:27px;
	color:#3a86c7;
	padding:23px 0 35px;
	margin:0;
}
.box-select h1 span{
	font-size:12px;
	line-height:14px;
	color:#1b325f;
}
.box-select h1 span a{color:#3a86c7;}
.box-select .row{
	width:100%;
	overflow:hidden;
	margin:0 0 20px;
}
.box-select .row-sel{
	width:280px;
	float:left;
	overflow:hidden;
}
.form-select{
	width:100%;
	overflow:hidden;
}
.form-select label{
	float:left;
	width:100%;
	font-size:1.2em;
	line-height:1.2em;
	color:#1b325f;
	font-weight:bold;
	padding:0 0 7px;
}
.form-select select{
	float:left;
	width:204px;
	font-size:11px;
	line-height:13px;
	color:#000;
	margin:0;
	padding:0;
}
.form-select .btn-submit{display:none;}
.form-select .btn{
	float:left;
	width:93px;
	height:26px;
	text-align:center;
	color:#fff;
	font-size:12px;
	line-height:26px;
	text-transform:uppercase;
	margin:75px 0 0 30px;
	font-weight:bold;
	background:url(../images/btn.gif) no-repeat;
}
.form-select .btn:hover{text-decoration:none;}
/* box-btn */
.block-record .box-btn,
.block-create .box-btn,
.block-catalog .box-btn{
	width:195px;
	float:right;
	overflow:hidden;
	padding:5px 0 0;
}
.block-record .box-btn ul,
.block-catalog .box-btn ul,
.block-create .box-btn ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	font-size:11px;
	line-height:13px;
}
.block-record .box-btn ul li,
.block-create .box-btn ul li,
.block-catalog .box-btn ul li{
	margin:0 0 0 5px;
	display:inline;
	float:left;
	background:url(../images/bg-box-btn.gif) no-repeat;
}
.block-record .box-btn ul li a,
.block-create .box-btn ul li a,
.block-catalog .box-btn ul li a{
	width:60px;
	height:17px;
	text-align:center;
	display:block;
	color:#666;
	padding:43px 0 0;
}
.dashboard{background:url(../images/dashboard.gif) no-repeat 50% 4px;}
.dashboard:hover,
.box-btn .active .dashboard{background:url(../images/dashboard-hover.gif) no-repeat 50% 4px;}
.box-btn .active .browse,
.browse:hover{background:url(../images/browse-hover.gif) no-repeat 50% 4px;}
.browse{background:url(../images/browse.gif) no-repeat 50% 4px;}
.add{background:url(../images/add.gif) no-repeat 50% 4px;}
.add:hover,
.box-btn .active .add{background:url(../images/add-hover.gif) no-repeat 50% 4px;}
.block-record .box-btn ul li a:hover,
.block-catalog .box-btn ul li a:hover,
.block-create .box-btn ul li a:hover{text-decoration:none;}
/* catalog-info */
.catalog-info{
	width:100%;
	overflow:hidden;
}
.catalog-info .block-title{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:5;
	margin:0 0 -6px;
}
.catalog-info .block-title ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}
.catalog-info .block-title .col01{
	width:303px;
	float:left;
	padding:0 0 0 13px;
}
.catalog-info .block-title h1,
.catalog-info .block-title h2{
	font-size:1.6em;
	line-height:1.6em;
	color:#1b325f;
	margin:0;
}
.catalog-info .block-title h2 a{
	color:#1b325f;
	float:left;
	padding:0 0 0 10px;
	background:url(../images/arrow02.gif) no-repeat 0 50%;
}
.catalog-info .block-title .col02{
	width:117px;
	float:left;
	padding:0 0 5px;
}
.catalog-info .block-title .col03{
	width:134px;
	float:left;
	padding:0 0 5px;
}
.catalog-info .block-title .col04{
	width:100px;
	float:left;
	padding:0 0 5px;
}
.catalog-info .block-title .col05{
	width:159px;
	float:left;
	padding:0 0 5px;
}
.catalog-info .block-title .col06{
	width:109px;
	float:left;
	padding:0 0 5px;
}
/* list */
.catalog-info .block-title .list-inf{
	width:100%;
	overflow:hidden;
	margin:0 0 3px;
	background:url(../images/bg-list2.gif) repeat-y;
}
.catalog-info .block-title .list-holder{background:url(../images/bg-lost-holder.gif) no-repeat;}
.catalog-info .block-title .list{
	margin:0;
	background:url(../images/bg-list-frame.gif) no-repeat 0 100%;
}
.catalog-info .block-title .list span{
	color:#3a86c7;
	font-size:1.2em;
	line-height:1.2em;
	display:block;
	padding-top:7px;
	text-align:center;
}
.catalog-info .block-title .heart{
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/heart-orange.png) no-repeat;
}
.catalog-info .block-title .mark .heart{
	background:url(../images/heart-blue.png) no-repeat;
}
.catalog-info .block-title .list .col01{
	width:278px;
	padding:8px 10px 7px 28px;
}
.catalog-info .block-title .list .col01 h3{
	font-size:13px;
	line-height:13px;
	color:#000;
	margin:0 5px 0 0;
}
.catalog-info .block-title .list-rating{
	width:114px;
	overflow:hidden;
	margin:0;
	padding:7px 0 0 3px;
	list-style:none;
}
.catalog-info .block-title .list-rating li{float:left;}
.catalog-info .block-title .list-rating img{display:block;}
.catalog-info .block-title .list .col03{
	margin:0 11px 0 0;
	width:94px;
}
.catalog-info .block-title .list .col04{
	padding:0 0 0 14px;
	width:86px;
	margin:0 9px 0 0;
}
.catalog-info .block-title .list .col05{
	padding:0 0 0 2px;
	width:157px;
	margin:0 9px 0 0;
}
.catalog-info .block-title .list .col06{
	padding:0 0 0 20px;
	width:89px;
}
/* list-paging */
.list-paging{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0 0 15px;
	list-style:none;
	font-size:1.2em;
	text-transform:uppercase;
}
.list-paging li{
	float:left;
	padding:0 12px;
	background:url(../images/separator2.gif) no-repeat 0 60%;
}
.list-paging li:first-child{
	background:none;
	padding-left:0;
}
.list-paging li span{color:#3a86c7;}
.list-paging li span a{color:#3a86c7;}
.list-paging .next{
	float:left;
	color:#3a86c7;
	padding:0 8px 0 0;
	background:url(../images/arrow.gif) no-repeat 100% 60%;
}
/* block-inf */
.catalog-info .block-inf{
	width:936px;
	overflow:hidden;
	margin:0 0 28px;
	position:relative;
	z-index:1;
}
.catalog-info .block{
	width:936px;
	overflow:hidden;
	background:#f0f6fb url(../images/bg-block.gif) no-repeat;
}
.catalog-info .block .frame{
	width:909px;
	overflow:hidden;
	padding:15px 20px 8px 7px;
	background:url(../images/bg-frame03.gif) no-repeat 0 100%;
}
.catalog-info .block p{
	margin:0 0 5px;
	font-size:1.3em;
	line-height:1.3em;
}
.catalog-info .block p a,
.catalog-info .block span a{color:#3a86c7;}
.catalog-info .block span{
	display:block;
	font-size:1.1em;
	line-height:1.1em;
	color:#1b325f;
}
/* block-create */
.block-create{
	width:100%;
	overflow:hidden;
	padding:16px 0 0;
}
.create-page .block-create{padding:16px 0 10px;}
.block-create .block-title{
	width:100%;
	overflow:hidden;
	margin:0 0 13px;
	position:relative;
}
.block-create h1{
	font-size:2.5em;
	color:#3a86c7;
	margin:19px 0 5px;
}
.block-create .block-title .mark{
	font-size:1.3em;
	line-height:1.3em;
	color:#c1272d;
}
/* box-error */
.box-error{
	width:288px;
	position:absolute;
	top:5px;
	left:325px;
	font-size:1.3em;
	line-height:1.3em;
	color:#c1272d;
	background:#faeeef url(../images/bg-box-error.gif) no-repeat;
	display:none;
}
.box-error .frame{
	width:248px;
	overflow:hidden;
	padding:15px 20px 10px;
	background:url(../images/bg-frame04.gif) no-repeat 0 100%;
}
.box-error p{margin:0;}
.form-error .box-error{
	display:block;
}
/* form-create */
.form-create{
	width:935px;
	overflow:hidden;
}
.block-step{
	width:100%;
	overflow:hidden;
}
/* .box-step */
.box-step{
	width:935px;
	overflow:hidden;
	margin:0 0 30px;
	background:#ddeefd url(../images/bg-box-step.gif) no-repeat;
}
.box-step .frame{
	width:935px;
	overflow:hidden;
	padding:0 0 20px;
	background:url(../images/bg-frame05.gif) no-repeat 0 100%;
}
.block-step .title{
	width:901px;
	overflow:hidden;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
	margin:0 0 14px;
	padding:13px 17px 12px;
}
.block-step .title h2{
	font-size:1.5em;
	line-height:1.5em;
	color:#666;
	margin:0;
}
.box-step .row-holder,
.box-step .row{
	width:901px;
	padding:0 17px 11px;
	overflow:hidden;
}
.box-step .add-document{height:47px !important;}
.form-error .error .text{background:url(../images/bg-input-error.gif) no-repeat !important;}
.form-error .error .text input{color:#c1272d !important;}
.box-step .row label{display:none;}
.box-step .row .text{
	width:692px;
	height:23px;
	float:left;
	margin:0 9px 0 0;
	display:inline;
	padding:10px 14px 9px;
	background:url(../images/bg-input2.gif) no-repeat;
}
.form-create .box-row .text input,
.box-step .row .text input{
	float:left;
	margin:0;
	padding:0;
	background:none;
	border:0;
	outline:none;
	font-size:21px;
	line-height:23px;
	color:#999;
	width:692px;
}
.box-step .row .text-area{
	float:left;
	width:692px;
	height:70px;
	padding:10px 14px 9px;
	background:url(../images/bg-textarea.gif) no-repeat;
}
.box-step .textarea-error .text-area{background:url(../images/bg-textarea-error.gif) no-repeat;}
.box-step .row textarea{
	background:none;
	border:0;
	float:left;
	margin:0;
	padding:0;
	width:692px !important;
	height:70px !important;
	outline:none;
	font-size:21px;
	line-height:23px;
	color:#999;
	overflow:auto;
}
.box-step .row select{
	width:720px;
	float:left;
	color:#999;
	font-size:12px;
	margin:0 0 0 3px;
	display:inline;
}
.box-step .row .remove{
	float:left;
	font-size:15px;
	line-height:17px;
	color:#666;
	margin:10px 0 0 7px;
	display:inline;
}
.box-step .box-add{
	width:901px;
	overflow:hidden;
	font-size:15px;
	line-height:22px;
	margin:0 0 16px;
	padding:0 17px;
}
.box-step .row-holder .box-add{padding:0;}
.box-step .box-add a{
	float:left;
	margin:0 0 0 6px;
	display:inline;
	color:#666;
	padding:0 0 0 33px;
	background:url(../images/bg-add.gif) no-repeat;
}
.box-step .link,
.box-step .link-minus,
.box-inf .link,
.box-inf .link-minus {
	float:left;
	margin:10px 0 0 9px !important;
	display:inline;
	text-indent:-9999px;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url(../images/bg-add.gif) no-repeat;
}
.box-step .link-minus,
.box-inf .link-minus {
	background: url(../images/bg-delete.gif) no-repeat;
}
.box-inf .link,
.box-inf .link-minus {
}
/* box-row */
.box-row{
	width:285px;
	float:left;
	padding:1px 0 0 4px;
}
.form-create .box-row input{
	width:15px;
	height:16px;
	float:left;
	margin:1px 10px 0 0;
	padding:0;
}
.form-create .box input{margin:12px 10px 0 0;}
.form-create .box-row label{
	display:block;
	float:left;
	font-size:15px;
	line-height:22px;
	color:#666;
	margin:0 12px 0 0;
	padding:4px 0 0;
}
.form-create .box label{padding:7px 0 0;}
.form-create .hidden{display:none !important;}
.form-create .box-row .text{
	width:268px;
	height:23px;
	float:left;
	margin:0;
	padding:9px 16px;
	background:url(../images/bg-input3.gif) no-repeat;
}
.form-create .box-row .text-row{
	width:300px;
	float:left;
}
.form-error .box-row .error .text{background:url(../images/bg-input-error2.gif) no-repeat !important;}
.form-create .box-row .text input{
	width:268px;
	height:auto;
}
.form-create .box{
	width:435px;
	padding:0;
}
.row-batton{
	height:1%;
	overflow:hidden;
	padding:0 17px;
	margin:-10px 0 0;
	position:relative;
}
.form-create .row-btn .btn-submit,
.form-create .btn-submit{
	float:left;
	border:0;
	width:200px;
	height:38px;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	cursor:pointer;
	margin:0 0 0 332px;
	display:inline;
	padding:0;
	background:url(../images/btn-last-step.gif) no-repeat;
}
.form-create .row-btn .btn-submit{
	width:203px;
	height:39px;
	margin:0 0 0 341px;
	background:url(../images/btn-create-record.gif) no-repeat;
}
.block-record h1,
.page-dashboard h1{
	font-size:2.5em;
	color:#3a86c7;
	margin:20px 0 0;
}
.page-dashboard .block-catalog .box-info{margin:0 0 35px;}
.page-dashboard .block-catalog{padding:16px 0 30px;}
.box-step .txt{
	float:left;
	font-size:13px;
	line-height:14px;
	color:#666;
	width:150px;
	padding:9px 0 0;
}
.block-create .row-name {
	width:409px;
	float:left;
	margin:0 21px 0 0;
}
.block-create .row-name .text{
	width:381px !important;
	padding:9px 14px 10px;
	margin:0;
	background:url(../images/bg-input4.gif) no-repeat !important;
}
.block-create .row-name-error .text{background:url(../images/bg-input4-error.gif) no-repeat !important;}
.block-create .row-name-error .text input{color:#c1272d;}
.block-create .row-name .text input{width:381px !important;}
.block-create .row-affiliation{
	float:left;
	width:298px;
}
.block-create .row-affiliation .text{
	width:270px !important;
	margin:0;
	background:url(../images/bg-input5.gif) no-repeat !important;
}
.block-create .row-affiliation .text input{width:270px !important;}
.block-create .row-affiliation-error .text{
	background:url(../images/bg-input5-error.gif) no-repeat !important;
}
.block-create .row-affiliation-error .text input{color:#c1272d;}
.form-create .row-btn{
	height:1%;
	overflow:hidden;
	padding:10px 17px 0;
}
.create-page .box-step .row .text input{
	font-size:25px;
	line-height:27px;
	width:700px;
}
.create-page .box-step .row .text{
	padding:7px 14px;
	height:28px;
	width:700px;
	background:url(../images/bg-input6.gif) no-repeat;
}
.create-page .box-step .row{padding:0 17px 15px;}
.create-page .box-step .frame{padding:0 0 15px;}
.create-page .box-step{margin:0 0 16px;}
/* block-register */
.block-register{
	width:875px;
	overflow:hidden;
	margin:0 0 74px 60px;
	background:url(../images/bg-holder.gif) repeat-y;
}
.block-register .holder{background:url(../images/bg-block-register.gif) no-repeat;}
.block-register .frame{
	width:875px;
	overflow:hidden;
	padding:15px 0 32px;
	background:url(../images/bg-frame06.gif) no-repeat 0 100%;
}
.block-register .title{
	width:298px;
	overflow:hidden;
	padding:0 42px 19px;
	margin:0 0 19px;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
}
.block-register .title h1,
.block-register .title h2{
	font-size:2.5em;
	margin:0;
	color:#3a86c7;
}
/* .box-register */
.box-register{
	width:382px;
	float:left;
	margin:0 45px 0 0;
}
.form-register,
.form-login {
	width:331px;
	padding:0 25px 0 26px;
	overflow:hidden;
}
.form-login .row,
.form-register .row{
	height:1%;
	overflow:hidden;
	padding:0 0 11px;
}
.form-login .text,
.form-register .text{
	width:299px;
	height:27px;
	background:url(../images/bg-input7.gif) no-repeat;
	float:left;
	padding:7px 16px 8px;
}
.form-login .text input,
.form-register .text input{
	float:left;
	background:none;
	border:0;
	margin:0;
	padding:0;
	outline:none;
	width:299px;
	font-size:25px;
	line-height:27px;
	color:#999;
}
.form-login .btn-submit,
.form-register .btn-submit{
	float:none;
	margin:25px auto 0;
	padding:0;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0;
	font-size:0;
	width:135px;
	height:38px;
	border:0;
	display:block;
	background:url(../images/btn-join.gif) no-repeat;
}
/* box-login */
.box-login{
	width:382px;
	overflow:hidden;
	float:left;
}
.form-login .btn-submit{
	margin:31px auto 70px;
	background:url(../images/btn-login.gif) no-repeat;
}
.form-login p{
	font-size:2em;
	margin:0;
	text-align:center;
}
.form-login p a{color:#3a86c7;}
.form-login p a:hover{
	text-decoration:none;
	color:#636363;
}
#main .block-holder{
	width:100%;
	overflow:hidden;
	padding:36px 0 0;
}
/* block-about */
.block-about{
	width:100%;
	overflow:hidden;
	padding:0 0 43px;
}
.block-about h1{
	font-size:2.5em;
	color:#3a86c7;
	margin:36px 0 35px;
}
.block-about .aside{
	float:right;
	width:293px;
	margin:0 0 0 50px;
	background:#ddeefd url(../images/bg-aside.gif) no-repeat;
}
* html .block-about .aside {margin:0 0 0 47px}
.block-about .aside .frame{
	width:249px;
	overflow:hidden;
	padding:4px 22px 0;
	background:url(../images/bg-frame07.gif) no-repeat 0 100%;
}
.block-about .aside ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	font-size:1.6em;
	line-height:1.6em;
	font-weight:bold;
}
.block-about .aside ul li{
	float:left;
	width:100%;
	padding:0 0 12px;
}
.block-about .aside ul li a{color:#1b325f;}
.block-about .aside ul li a:hover{
	text-decoration:none;
	color:#636363;
}
/* column */
.block-about .column{
	height:1%;
	overflow:hidden;
}
.block-about .column p{
	font-size:1.4em;
	line-height:1.4em;
	margin:0 0 23px;
}
.block-about .column span{
	font-size:1.8em;
	line-height:1.5em;
	display:block;
	margin:5px 0 15px;
}
.block-about .column span a{
	color:#3a86c7;
	font-size:1.4em;
}
/* block-contact */
.block-contact{
	width:609px;
	overflow:hidden;
	margin:0 0 36px;
	background:#ddeefd url(../images/bg-block-contact.gif) no-repeat;
}
.form-contact{
	width:609px;
	overflow:hidden;
	color:#666;
	padding:12px 0 18px;
	background:url(../images/bg-block-contact.gif) no-repeat -609px 100%;
}
.form-contact .title{
	width:569px;
	overflow:hidden;
	padding:0 20px 27px;
	margin:0 0 23px;
	font-size:2em;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
}
.form-contact .title p{margin:0;}
.form-contact .row{
	width:569px;
	overflow:hidden;
	padding:0 20px;
}
.form-contact label{
	width:100%;
	float:left;
	padding:0 0 15px;
	font-size:20px;
	line-height:22px;
}
.form-contact .text{
	width:531px;
	height:375px;
	overflow:hidden;
	padding:10px 18px;
	background:url(../images/bg-textarea02.gif) no-repeat;
}
.form-contact textarea{
	width:531px !important;
	height:375px !important;
	float:left;
	margin:0;
	padding:0;
	font-size:25px;
	line-height:27px;
	color:#999;
	outline:none;
	background:none;
	border:0;
	overflow:auto;
}
.form-contact .btn-submit{
	float:left;
	padding:0;
	width:135px;
	height:38px;
	border:0;
	cursor:pointer;
	line-height:0;
	font-size:0;
	text-indent:-9999px;
	overflow:hidden;
	margin:17px 0 0 205px;
	display:inline;
	background:url(../images/btn-submit.gif) no-repeat;
}
/* block-account */
.account-holder{
	width:100%;
	overflow:hidden;
	padding:35px 0 0;
}
.block-account {
	width:809px;
	overflow:hidden;
	margin:0 0 77px 60px;
	background:url(../images/bg-block-account2.gif) repeat-y;
}
.block-account .holder{background:url(../images/bg-block-account.gif) no-repeat;}
.block-account .frame{
	width:809px;
	overflow:hidden;
	padding:16px 0 23px;
	background:url(../images/bg-block-account.gif) no-repeat -809px 100%;
}
.form-account{
	width:100%;
	overflow:hidden;
}
/* box-about */
.box-about,
.box-preferences{
	width:382px;
	overflow:hidden;
	float:left;
	margin:0 45px 0 0;
}
.box-preferences{margin:0;}
.box-about label{display:none;}
.box-about .title,
.box-preferences .title{
	width:302px;
	overflow:hidden;
	padding:0 40px 19px;
	margin:0 0 8px;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
}
.box-preferences .title h2,
.box-about .title h1{
	font-size:2.5em;
	color:#3a86c7;
	margin:0;
}
.box-preferences .box-inf,
.box-about .box-inf{
	width:331px;
	padding:0 25px 0 26px;
	overflow:hidden;
}
.form-inform .inf,
.box-about .inf{
	width:100%;
	overflow:hidden;
	margin:0 0 13px;
}
.form-inform .inf .image,
.box-about .inf .image{
	width:81px;
	float:left;
	margin:0 23px 0 0;
}
* html .box-about .inf .image,
* html .form-inform .inf .image {margin:0 20px 0 0;}
.box-about .inf .image img,
.form-inform .inf .image img{display:block;}
.box-about .inf .txt,
.form-inform .inf .txt{
	height:1%;
	overflow:hidden;
	color:#666;
	font-size:2em;
}
.box-about .inf .txt p,
.form-inform .inf .txt p{margin:15px 0 0;}
.box-about .inf .txt p a,
.form-inform .inf .txt p a{color:#3a86c7;}
.form-account select{width:330px;}
/* row */
.box-about .row{
	height:1%;
	overflow:hidden;
	padding:0 0 12px;
}
.box-about .row .text{
	width:300px;
	overflow:hidden;
	height:27px;
	padding:7px 15px 8px;
	background:url(../images/bg-input8.gif) no-repeat;
}
.box-about .row .text input{
	float:left;
	margin:0;
	padding:0;
	font-size:25px;
	line-height:27px;
	background:none;
	border:0;
	outline:none;
	color:#999;
	width:301px;
}
/* box-check */
.box-preferences .box-check{
	width:100%;
	overflow:hidden;
	margin:0 0 10px;
}
.box-preferences .row-check{
	height:1%;
	overflow:hidden;
	padding:0 0 2px;
}
.box-preferences .row-check input{float:left;}
.box-preferences .row-check label{
	float:left;
	font-size:13px;
	line-height:24px;
	color:#666;
}
/* info */
.box-preferences .info{
	width:100%;
	overflow:hidden;
}
.box-preferences .info p{
	color:#666;
	font-size:1.7em;
	margin:0 0 14px;
}
.box-preferences .info .row{
	height:1%;
	overflow:hidden;
	padding:0 0 11px;
}
.box-preferences .info .row label{display:none;}
/* row-inf */
.box-preferences .row-inf{
	width:100%;
	overflow:hidden;
	margin:0 0 25px;
}
.box-preferences .row-inf .row-holder label{display:none;}
.box-preferences .check-inf{
	width:90px;
	float:left;
	padding:0 4px 0 0;
}
.box-preferences .check-holder{
	height:1%;
	overflow:hidden;
	padding:0 0 3px;
}
.box-preferences .check-holder label{
	float:left;
	font-size:13px;
	line-height:26px;
	color:#666;
}
.box-preferences .row-inf .text{
	float:left;
	width:205px;
	height:27px;
	padding:7px 15px 8px;
	margin:18px 0 0;
	background:url(../images/bg-input9.gif) no-repeat;
}
.box-preferences .row-inf .text input{
	float:left;
	margin:0;
	padding:0;
	outline:none;
	color:#999;
	font-size:25px;
	line-height:27px;
	background:none;
	border:0;
	width:205px;
}
.box-preferences .btn-submit{
	float:left;
	margin:0 0 0 96px;
	display:inline;
	padding:0;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	overflow:hidden;
	width:135px;
	border:0;
	height:38px;
	cursor:pointer;
	background:url(../images/btn-update.gif) no-repeat;
}
/* block-settings */
.settings-holder{
	width:100%;
	overflow:hidden;
	padding:35px 0 0;
}
.settings-holder h1{
	font-size:2.5em;
	margin:0 0 36px;
	color:#3a86c7;
}
.block-settings{
	width:935px;
	overflow:hidden;
	margin: 0 0 75px;
	background:url(../images/bg-block-setting2.gif) repeat-y;
}
.block-settings .holder{background:url(../images/bg-block-setting.gif) no-repeat;}
.block-settings .frame{
	width:935px;
	overflow:hidden;
	padding:14px 0 15px;
	background:url(../images/bg-block-setting.gif) no-repeat -935px 100%;
}
* html .block-settings .frame {	overflow:visible;	padding:14px 0 0;}
/* box-inform */
.form-inform{
	width:545px;
	overflow:hidden;
	float:left;
	margin:0 18px 0 0;
}
.form-inform2 .title,
.form-inform .title{
	width:478px;
	overflow:hidden;
	padding:0 42px 17px 25px;
	margin: 0 0 11px;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
}
.form-inform .title span{
	font-size:1.2em;
	color:#1b325f;
	display:block;
}
.form-inform2 .title {
	width:332px;
	padding:17px 20px 15px;
	margin:0 0 7px;
}
.form-inform2 .title h2,
.form-inform .title h2{
	font-size:2.5em;
	margin:0;
	color:#3a86c7;
}
.form-inform2 .title p{
	margin:6px 0 0 2px;
	font-size:1.2em;
	color:#666;
}
.form-inform2 .box-inf,
.form-inform .box-inf{
	width:496px;
	overflow:hidden;
	padding:0 23px 0 26px;
}
.form-inform2 .box-inf{
	width:337px;
	padding:0 15px 0 20px;
}
.form-inform  .row{
	height:1%;
	overflow:hidden;
	padding:0 0 12px;
}
.form-inform  .row label{
	float:left;
	width:200px;
	padding:10px 4px 0 0;
	font-size:20px;
	line-height:22px;
	color:#1b325f;
}
.form-inform2 .text,
.form-inform .row .text{
	float:left;
	width:264px;
	height:22px;
	padding:11px 14px;
	background:url(../images/bg-input10.gif) no-repeat;
}
.form-inform2 .text{
	margin:0 0 0 5px;
	display:inline;
	padding:11px 14px 17px;
}
.form-inform2 .text input,
.form-inform  .row .text input{
	float:left;
	margin:0;
	padding:0;
	background:none;
	border:0;
	outline:none;
	font-size:18px;
	line-height:20px;
	color:#999;
	width:264px;
}
.form-inform select{
	width:292px;
	float:left;
}
.form-inform .row-check{
	width:100%;
	overflow:hidden;
	padding:15px 0 22px;
}
.form-inform .row-holder{
	height:1%;
	overflow:hidden;
	padding:0 0 2px;
}
.form-inform .row-check label{
	float:left;
	font-size:13px;
	line-height:26px;
	color:#666;
}
.form-inform2 .btn-submit,
.form-inform .btn-submit{
	float:left;
	cursor:pointer;
	border:0;
	margin:0 0 0 200px;
	display:inline;
	padding:0;
	width:135px;
	height:38px;
	line-height:0;
	font-size:0;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-update.gif) no-repeat;
}
.form-inform2 .btn-holder{
	width:240px;
	overflow:hidden;
	padding:0 0 18px 97px;
}
.form-inform2 .btn-submit{
	margin:0;
	display:block;
	float:none;
}
* html .form-inform2 .btn-holder {padding:0 0 13px 97px;}
/* form-inform2 */
.form-inform2{
	width:372px;
	float:left;
	overflow:hidden;
}
.form-inform2 h3{
	font-size:2em;
	color:#666;
	margin:0 0 9px;
	font-weight:normal;
}
.form-inform2 .box .row{padding:0 0 11px 2px;}
.form-inform2 .row{
	height:1%;
	overflow:hidden;
	padding:0 0 11px;
}
.form-inform2 .row label{display:none;}
.form-inform2 select{
	width:294px;
	float:left;
}
.form-inform2 .plus{
	float:left;
	width:16px;
	height:14px;
	margin:13px 0 0 9px;
	display:inline;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bg-plus.gif) no-repeat;
}
.form-inform2 .minus{
	float:left;
	width:12px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bg-minus.gif) no-repeat;
	margin:13px 0 0 5px;
	display:inline;
}
.form-inform2 .link{margin:17px 0 0 9px;}
.box-holder{
	width:100%;
	overflow:hidden;
	padding:0 0 4px;
}
/* row-check*/
.form-inform2 .row-check{
	width:329px;
	overflow:hidden;
	padding:14px 0 1px 8px;
}
* html .form-inform2 .row-check {padding:9px 0 1px 8px;}
.form-inform2 .row-holder{
	height:1%;
	overflow:hidden;
	padding:0 0 3px;
}
.form-inform2 .row-check label{
	float:left;
	font-size:13px;
	line-height:26px;
	color:#666;
}
.form-inform2 .clear{
	margin:0 0 0 70px;
	font-size:2em;
}
.form-inform2 .clear a{color:#3a86c7;}
/* block-record */
.block-record{
	width:935px;
	overflow:hidden;
	padding:17px 0 0;
}
.block-record .twocolumns{
	width:100%;
	overflow:hidden;
}
/* aside*/
.block-record .aside{
	float:right;
	overflow:hidden;
	width:328px;
	margin:28px 0 0;
}
.block-record .btn-list{
	width:328px;
	overflow:hidden;
	padding:0;
	margin:0 0 17px;
	list-style:none;
	font-size:12px;
	line-height:26px;
	font-weight:bold;
}
.block-record .btn-list li{float:left;}
.block-record .btn-list a:hover{
	text-decoration:none;
	color:#1b325f;
}
.block-record .btn-list .btn-blue{
	float:left;
	width:93px;
	height:26px;
	text-align:center;
	color:#fff;
	margin:0 24px 0 0;
	background:url(../images/btn-blue.gif) no-repeat;
}
.block-record .btn-list .btn-red{
	float:left;
	width:209px;
	color:#fff;
	text-align:center;
	background:url(../images/btn-red.gif) no-repeat;
}
/* box-form */
.block-record .box-form{
	width:328px;
	overflow:hidden;
	padding:10px 0 0;
	background:#ddeefd url(../images/bg-form-notes.gif) no-repeat;
}
.block-record .form-notes{
	width:328px;
	overflow:hidden;
	padding:0 0 16px;
	background:#ddeefd url(../images/bg-form-notes.gif) no-repeat -328px 100%;
}
.block-record .aside .box{
	width:298px;
	overflow:hidden;
	padding:0 15px;
	margin:0 0 17px;
	background:url(../images/bg-title.gif) repeat-x 0 100%;
}
.block-record .aside .data{
	margin:0 0 23px;
	padding:0 15px 6px;
}
.block-record .aside .heading{
	width:140px;
	float:left;
	padding:0 10px 0 0;
}
.block-record .aside .heading h2{
	font-size:16px;
	line-height:18px;
	color:#1b325f;
	margin:0;
}
.block-record .aside .heading span{
	display:block;
	margin:5px 0 0;
	font-size:12px;
	line-height:14px;
	color:#666;
}
.block-record .aside .row{
	height:1%;
	overflow:hidden;
	padding:0 0 13px;
}
/* list-star */
.block-record .aside .list-star{
	float:left;
	margin:0;
	padding:3px 0 0;
	list-style:none;
	overflow:hidden;
}
.block-record .aside .list-star li{float:left;}
.block-record .aside .list-star img{display:block;}
.block-record .aside .heart{
	float:left;
	width:17px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/heart-blue.png) no-repeat;
}
.block-record .aside .heart:hover{background:url(../images/heart-orange.png) no-repeat;}
.block-record .box-notes{
	width:298px;
	overflow:hidden;
	padding:0 15px;
	margin:-12px 0 0;
	position:relative;
}
.block-record .box-notes h2{
	font-size:16px;
	line-height:18px;
	margin:0 0 7px;
	color:#1b325f;
}
.block-record .box-notes label{
	width:100%;
	float:left;
	padding:0 0 5px;
	font-size:12px;
	line-height:14px;
	color:#666;
}
.block-record .box-notes .text{
	width:287px;
	height:174px;
	float:left;
	padding:5px;
	margin:0 0 17px;
	background:url(../images/bg-textarea03.gif) no-repeat;
}
.block-record .box-notes textarea{
	float:left;
	margin:0;
	padding:0;
	background:none;
	border:0;
	font-size:12px;
	line-height:14px;
	color:#666;
	outline:none;
	width:287px !important;
	height:174px !important;
	overflow:auto;
}
.block-record .box-notes .btn-submit{
	width:161px;
	height:38px;
	float:left;
	margin:0 0 0 68px;
	display:inline;
	padding:0;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	border:0;
	cursor:pointer;
	background:url(../images/btn-save-notes.gif) no-repeat;
}
/* column */
.twocolumns .column{
	width:584px;
	float:left;
	overflow:hidden;
}
.text-inform{
	width:584px;
	overflow:hidden;
	margin:0 0 17px;
}
/* tabset */
.tabset{
	width:569px;
	overflow:hidden;
	margin:0 0 0 15px;
	padding:0;
	list-style:none;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
}
.tabset li{
	float:left;
	padding:0 8px 0 0;
}
.tabset li a{
	float:left;
	color:#4d4d4d;
	cursor:pointer;
	height:29px;
	padding:0 0 0 17px;
}
.tabset li a span{
	float:left;
	padding:8px 17px 0 0;
	height:21px;
}
.tabset .active a,
.tabset li a:hover{
	color:#1b325f;
	text-decoration:none;
	background:url(../images/bg-tabset.gif) no-repeat;
}
.tabset .active a span,
.tabset li a:hover span{background:url(../images/bg-tabset.gif) no-repeat 100% 0;}
/* tab-content */
.tab-content{
	width:584px;
	overflow:hidden;
	padding:3px 0 0;
	font-size:1.3em;
	line-height:1.4em;
	background:#f0f6fb url(../images/bg-tab-content.gif) no-repeat;
}
.twocolumns .tab-content .frame{
	width:570px;
	overflow:hidden;
	padding:0 5px 12px 9px;
	background:#f0f6fb url(../images/bg-tab-content.gif) no-repeat -584px 100%;
}
.tab-content p { margin: 10px 0 0 0;}
/* inform */
.twocolumns .inform{
	width:584px;
	overflow:hidden;
	padding:10px 0 0;
	margin:0 0 21px;
	background:#f0f6fb url(../images/bg-tab-content.gif) no-repeat;
}
.twocolumns .frame{
	width:584px;
	overflow:hidden;
	padding:0 0 3px;
	background:#f0f6fb url(../images/bg-tab-content.gif) no-repeat -584px 100%;
}
.twocolumns .inform .list-info{
	width:564px;
	overflow:hidden;
	margin:0 0 10px;
	padding:0 10px;
	list-style:none;
	background:url(../images/bg-list-info.gif) repeat-x 0 100%;
}
.twocolumns .inform .list-info li{
	width:100%;
	float:left;
	padding:0 0 27px;
}
.twocolumns .inform .list-info strong{
	width:210px;
	float:left;
	padding:0 10px 0 0;
	font-size:1.2em;
	color:#1b325f;
}
.twocolumns .inform .list-info span{
	font-size:1.2em;
	color:#3a86c7;
}
.twocolumns .inform .list-info span em{
	font-style:normal;
	color:#666;
}
.twocolumns .inform .list-info span a{color:#3a86c7;}
/* box-inf */
.twocolumns .inform .box-inf{
	width:564px;
	padding:0 10px 10px;
	overflow:hidden;
	margin:0 0 13px;
	background:url(../images/bg-list-info.gif) repeat-x 0 100%;
}
.twocolumns .box-details h2,
.twocolumns .inform h2{
	font-size:1.6em;
	margin:0 0 5px;
	color:#1b325f;
}
.twocolumns .box-details h2{margin:0 0 12px;}
.twocolumns .inform .box-inf ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0 0 3px;
	list-style:none;
	font-size:12px;
	line-height:22px;
}
.twocolumns .inform .box-inf ul li{
	float:left;
	padding:0 20px 0 0;
}
.twocolumns .inform .box-inf ul li a{
	float:left;
	color:#3a86c7;
}
.map-area{
	margin:0 0 0 2px;
	display:inline;
	padding:0 0 5px 24px;
	background:url(../images/bg-map.gif) no-repeat;
}
.web-link{
	padding:0 0 5px 32px;
	background:url(../images/bg-web-link.gif) no-repeat;
}
/* box-details */
.box-details{
	width:564px;
	overflow:hidden;
	padding:0 10px;
}
.box-details ul{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	font-size:1.2em;
	color:#666;
}
.box-details ul li{
	float:left;
	width:100%;
	padding:0 0 14px;
}
.box-details ul li strong{
	float:left;
	width:210px;
	padding:0 10px 0 0;
	color:#1b325f;
}
.box-details ul li a{color:#3a86c7;}
/* box-discussion */
.box-discussion{
	width:935px;
	overflow:hidden;
	padding:9px 0 0;
	margin:0 0 68px;
	background:#f4f3f2 url(../images/bg-box-discussion.gif) no-repeat;
}
.box-discussion .frame{
	width:902px;
	overflow:hidden;
	padding:0 25px 34px 8px;
	background:url(../images/bg-box-discussion.gif) no-repeat -935px 100%;
}
/* discussion-inf */
.discussion-inf{
	width:902px;
	overflow:hidden;
	margin:0 0 15px;
}
.discussion-inf .title{
	width:100%;
	overflow:hidden;
	margin:0 0 7px;
}
.discussion-inf h2{
	float:left;
	font-size:1.6em;
	color:#1b325f;
	margin:0 15px 0 0;
}
.discussion-inf .note{
	float:left;
	font-size:14px;
	line-height:24px;
	height:28px;
	color:#fff;
	font-weight:bold;
	padding:0 0 0 14px;
	background:url(../images/bg-note.gif) no-repeat;
}
.discussion-inf .note em{
	font-style:normal;
	float:left;
	padding:0 9px 0 0;
	height:28px;
	background:url(../images/bg-note.gif) no-repeat 100% 0;
	
}
/* block-inf */
.discussion-inf .block-inf{
	width:804px;
	overflow:hidden;
	margin:0 0 0 98px;
	background:url(../images/bg-block-inf2.gif) repeat-y;
}
.discussion-inf .block-inf .holder{background:url(../images/bg-block-inf.gif) no-repeat;}
.discussion-inf .block-inf .frame{
	width:781px;
	overflow:hidden;
	background:url(../images/bg-block-inf.gif) no-repeat -804px 100% !important;
	padding:0 8px 10px 15px;
}
.discussion-inf .block-inf .block{
	width:781px;
	overflow:hidden;
	margin:0 0 6px;
	padding:13px 0 0;
}
.discussion-inf .block-inf .mark{
	padding:15px 0 0;
	background:#f4f3f2 url(../images/bg-block-mark.gif) no-repeat;
}
.discussion-inf .block-inf .mark .frame{
	padding:0 0 0 16px;
	width:766px;
	background:url(../images/bg-block-mark.gif) no-repeat 0 100% !important;
}
.discussion-inf .text-inf{
	float:left;
	width:697px;
	overflow:hidden;
}
.discussion-inf .mark .text-inf{width:680px;}
.discussion-inf .text-inf .image{
	float:left;
	margin:0 13px 0 0;
	width:38px;
}
* html .discussion-inf .text-inf .image {margin:0 10px 0 0;}
.discussion-inf .text-inf .txt{
	height:1%;
	overflow:hidden;
	font-size:1.2em;
	color:#666;
}
.discussion-inf .text-inf .txt p{margin:0 0 14px;}
.discussion-inf .text-inf .txt p a{color:#666;}
/* box-reply */
.box-reply{
	width:73px;
	margin:12px 10px 0 0;
	display:inline;
	float:right;
	text-align:center;
}
.discussion-inf .mark .box-reply{margin:0 10px 0 0;}
.box-reply strong{
	width:100%;
	overflow:hidden;
	display:block;
	margin:0 0 7px;
	font-size:1.6em;
	color:#1b325f;
}
.box-reply p{
	font-size:1.2em;
	color:#3a86c7;
	margin:0;
}
.box-reply p a{color:#3a86c7;}
.discussion-inf .inf{
	width:100%;
	overflow:hidden;
	margin:0 0 6px;
}
.discussion-inf strong{
	float:left;
	width:auto;
	margin:6px 12px 0 15px;
	display:inline;
}
.discussion-inf .mark .link,
.discussion-inf .link{
	float:left;
	width:28px;
	height:29px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bg-link.gif) no-repeat;
}
.discussion-inf .link {
	background:url(../images/bg-link2.gif) no-repeat;
	float:right;
	margin:0 7px 0 0;
	display:inline;
}
/* form-thoughts */
.form-thoughts{
	width:902px;
	overflow:hidden;
}
.form-thoughts h2{
	font-size:1.6em;
	margin:0 0 5px;
	color:#1b325f;
}
.form-thoughts p{
	font-size:1.2em;
	color:#666;
	margin:0 0 17px;
}
.form-thoughts .box-inf{
	float:left;
	width:93px;
	padding:0 5px 0 0;
	font-size:12px;
	line-height:14px;
	color:#1b325f;
}
.form-thoughts label{
	width:100%;
	float:left;
	font-size:12px;
	padding:0 0 22px;
}
.form-thoughts .txt{
	display:block;
	margin:0 0 15px;
}
.form-thoughts .text{
	width:794px;
	float:left;
	height:247px;
	padding:5px;
	background:url(../images/bg-textarea04.gif) no-repeat;
}
.form-thoughts textarea{
	float:left;
	margin:0;
	padding:0;
	width:794px !important;
	height:247px !important;
	background:none;
	border:0;
	color:#1b325f;
	font-size:12px;
	line-height:14px;
	outline:none;
	overflow:auto;
}
/* row-check */
.form-thoughts .row-check{
	width:100%;
	overflow:hidden;
}
.form-thoughts .row-check label{
	width:62px;
	float:left;
	padding:0 4px 0 0;
	font-weight:bold;
}
.form-thoughts .box-holder{
	width:100%;
	overflow:hidden;
	margin:0 0 29px;
}
.form-thoughts .row{
	width:100%;
	overflow:hidden;
}
.form-thoughts .btn-submit{
	float:right;
	margin:0 5px 0 0;
	display:inline;
	padding:0;
	border:0;
	width:218px;
	height:38px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	background:url(../images/btn-post-comments.gif) no-repeat;
}
/* footer */
#footer{
	width:934px;
	overflow:hidden;
	padding:18px 13px;
	font-size:1.1em;
	line-height:1.1em;
	color:#fff;
	margin:0 auto;
}
/* footer-menu */
.footer-menu{
	float:right;
	margin:0 30px 0 0;
	display:inline;
	list-style:none;
	padding:0;
	overflow:hidden;
}
#footer .list li,
.footer-menu li{
	float:left;
	padding:0 15px;
	background:url(../images/separator.gif) no-repeat 0 60%;
}
.footer-menu li:first-child,
#footer .list li:first-child{
	background:none;
	padding-left:0;
}
.footer-menu li a,
#footer .list li a{color:#fff;}
.footer-menu li a:hover,
#footer .list li a:hover {
	color:#3a86c7;
	text-decoration:none;
}
/* list */
#footer .list{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
#skip a{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
#skip a:focus{
	position:static;
	width:auto;
	height:auto;
}
.box-file{
	width:105px;
	overflow:hidden;
	position:relative;
}
.box-file label{display:none !important;}
.form-create .box-row .file-input-area {
	height:29px;
	left:-5px;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:2;
	cursor:pointer;
	font-size:35px;
}
.form-create .button {
	background:url(../images/btn-choose-file.gif) no-repeat;
	height:29px;
	overflow:hidden;
	width:105px;
	float:left;
	text-indent:-9999px;
	line-height:0;
	font-size:0;
}
.outtaHere {
	position:absolute;
	left:-3000px;
}
/*Radio buttons*/
.radioArea, .radioAreaChecked {
	float:left;
	width:22px !important;
	height:22px;
	margin:4px 10px 0 0;
	background: url(../images/radio.gif) no-repeat;
	overflow: hidden;
}
.error .radioAreaChecked,
.radioAreaChecked {background-position: 0 -22px;}
.box .radioArea, .box .radioAreaChecked {margin:7px 10px 0 0;}
/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:26px !important;
	height:24px;
	overflow: hidden;
	margin:0 3px 0 0;
	background: url(../images/checkbox.gif) no-repeat;
}
.form-inform .checkboxArea, .form-inform .checkboxAreaChecked,
.form-inform2 .checkboxArea, .form-inform2 .checkboxAreaChecked  {margin:0 8px 0 0 !important;}
.checkboxAreaChecked {background-position: 0 -24px;}
.form-thoughts .checkboxArea, .form-thoughts .checkboxAreaChecked {
	margin:8px 0 0 !important;
	float:right;
}
.error .radioArea{background:url(../images/radio-error.gif) no-repeat;}
.error .radioAreaChecked{background:url(../images/radio-error.gif) no-repeat 0 -22px;}
/* Selects */
.selectArea {
	position: relative;
	height: 41px;
	float:left;
	color:#999;
	font-size:21px;
	line-height:23px;
}
.sel03{
	font-size:25px;
	line-height:27px;
}
.sel04,
.sel05{
	font-size:18px;
	line-height:20px;
}
.sel-info .selectArea{
	height:18px;
	font-size:12px;
	line-height:14px;
	color:#000;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:3px;
	height:100%;
	background: url(../images/select-left.gif) no-repeat;
	display: block;
}
.form-error .error .selectArea .left{background:url(../images/select-left-error.gif) no-repeat !important;}
.sel-info .selectArea .left{
	height:18px !important;
	background:url(../images/select-left2.gif) no-repeat;
}
.sel-info .selectArea a.selectButton{background:url(../images/select-button2.gif) no-repeat 100% 0;}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width:100%;
	height:100%;
	outline:none;
	background: url(../images/select-button.gif) no-repeat 100% 0;
}
.form-error .error .selectArea a.selectButton{background: url(../images/select-button-error.gif) no-repeat 100% 0 !important;}
.select-center {
	height:1%;
}
.select-center ul {
	width:100% !important;
	float:left;
	padding:0 !important;
}
*+html body .select-center ul {
	overflow-x:hidden !important;
}
*html .select-center ul {
	overflow-x:hidden !important;
}
.selectArea .center{
	height: 41px;
	line-height:39px;
	display:block;
	padding:0 52px 0 14px;
	background: url(../images/select-center.gif) repeat-x;
}
.form-error .error .selectArea .center{
	background:url(../images/select-center-error.gif) repeat-x !important;
	color:#c1272d;
}
.sel05 .center{line-height:43px !important;}
.sel-info .selectArea .center{
	height:18px;
	line-height:20px;
	padding:0 20px 0 8px;
	background:url(../images/select-center2.gif) repeat-x;
}
.selectArea .center img {float:left;}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	background-color: #fff;
	border: 1px solid #C9C9C9;
	display: block;
	z-index: 30;
	font-size: 21px;
}
.optionsDivInvisible.drop-sel02 ,
.optionsDivVisible.drop-sel02 {font-size: 12px !important;}
.optionsDivInvisible.drop-sel03 ,
.optionsDivVisible.drop-sel03 {
	font-size: 19px !important;
	white-space:nowrap;
}
.optionsDivInvisible.drop-sel04 ,
.optionsDivVisible.drop-sel04,
.optionsDivInvisible.drop-sel05 ,
.optionsDivVisible.drop-sel05 {font-size: 18px !important;}
.drop-sel{width:717px !important;}
.drop-sel02{width:202px !important;}
.drop-sel03{width:327px !important;}
.drop-sel04{width:290px !important;}
.drop-sel05{width:292px !important;}
.drop-dif {background:#99CCCC;}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:2px;
	overflow:hidden;
	list-style: none;
	overflow-x:hidden !important;
}
.optionsDivVisible ul li {
	float:left;
	width:100%;
}
.optionsDivVisible ul li.disabled a {
	text-decoration:none !important;
	cursor:default !important;
}
.optionsDivVisible a {
	color: #999;
	overflow:hidden;
	text-decoration: none;
	display: block;
	height:1%;
	padding: 0 10px;
}
.optionsDivVisible.drop-sel02 a{
	color: #000 !important;
	padding: 0 10px !important;
}
.optionsDivVisible a img {
	border:none;
	float:left;
}
.optionsDivVisible a:hover {
	color: #999;
	text-decoration:underline;
}
.add-block div.default{
	display:none;
}
.upload-box {
	display:none;
}
.title-block,
.add-block  {
	width:100%;
	overflow:hidden;
}
.select-row {
	width:100%;
	overflow:hidden;
}
.states,
.citys {
	width:100%;
	overflow:hidden;
	padding:5px 0 0;
}
.geografical-select .link-add,
.geografical-select .link-minus {
	display:none;
	text-indent:0;
	color:#046F8C;
	width:auto;
	padding-left:25px;
	padding:5px 0 0 25px;
}
.geografical-select .link-minus {
	display:block;
}
