<% content_for :title do %>
  Add Data Record
<% end %>

<div id="ltColumn">
  <% content_for :body_class do %>add_data<% end %>

  <% %>

  <%  %>
    <% %>
    <% %>
    <% %>
    <ul>
      <li>
        <button class="submit" id="data_suggestion_submit" type="submit" value="Submit" name="commit">
          <span>Submit</span>
        </button>
      </li>
    </ul>
  <% end %>
</div>    
