- form_for @filters, :url => data_records_path, :html => { :method => :get, :id => 'filterDataForm', :class => 'form-select' } do |form|
  %fieldset
    .row-sel
      .row.sel-info
        %label{:for => "coverage"} Coverage
        - locations = all_locations_for_select("All", "-------------")
        - locations.delete_at(0)
        = form.select :location, locations, {:disabled => "-------------"}, {:class => 'sel02', :id => 'coverage'}
      .row.sel-info
        %label{:for => "release"} Release Year
        = form.select :release_year, years_for_select, {:disabled => "-------------"}, {:class => 'sel02', :id => 'release'}
    .row-sel.row-sel-wide
      .row.sel-info
        %label{:for => "organization"} Organization
        = form.select :ministry_organization, ministries_and_organizations_for_select(@filters.ministry_organization), {}, {:class => 'sel02 sell-wide ministry_organization', :id => 'organization'}
      .sell-holder
        .row.sel-info
          %label{:for => "type"} Record Type
          = form.select :document_type, document_types_for_select, {:disabled => "-------------"}, {:class => 'sel02 sell-small', :id => 'type'}
        .btn-links
          %input.btn-submit{:type => "submit", :value => "submit"}/
          %a.btn{:href => "#", :onclick => "$(this).prev('input').click(); return false;"}
            %span Filter Data
          %a{:href => data_records_path}
            %span clear
