<% content_for :title do %>
  Edit Data Record
<% end %>

<div id="ltColumn">
  <% content_for :body_class do %>add_data<% end %>

  <%= show_flash_message %>

  <% form_for @data_record, :html => { :multipart => true, :id => "edit_data_record" } do |form| %>
    <%= form.error_messages %>
    <%= render "form", :form => form %>
    <ul>
      <li>
        <button class="submit" id="data_suggestion_submit" type="submit" value="Submit" name="commit">
          <span>Submit</span>
        </button>
      </li>
    </ul>
  <% end %>
</div>    
