<% content_for :title do %>
  Add Data Record
<% end %>

<div id="ltColumn">
  <% content_for :body_class do %>add_data<% end %>

  <%= show_flash_message %>

  <% form_for @data_record, :url => data_records_path, :html => { :multipart => true, :method => :post } do |form| %>
    <%= form.error_messages %>
    <%= form.hidden_field :current_step %>
    <%= render "#{@data_record.current_step}_form", :form => form %>
    <ul>
      <li>
        <button class="submit" id="data_suggestion_submit" type="submit" value="Submit" name="commit">
          <span>Submit</span>
        </button>
      </li>
    </ul>
  <% end %>
</div>    
