%fieldset
  %legend Title
  .row
    = login.error_messages custom_error_messages
  .row
    %label{:for => "email2"} Email
    .text
      = login.text_field :email
  .row
    .text
      = text_field_tag 'pw3', 'Password'
  .row{:style => 'display: none;'}
    %label{:for => "password3"} Password
    .text
      = login.password_field :password
  %input.btn-submit{:type => "submit", :value => "Login"}/
  %p
    %a{:href => forgot_path} Forgot your password?


:javascript
  $(function(){
    $('#pw3').focus(function(){
      $(this).parent().parent().hide();
      $('#user_session_password').parents('.row').show();
      $('#user_session_password').focus();
      return false;
    });

    $('#user_session_password').blur(function(){
      var $this = $(this);
      if($this.val() == ''){
        $this.parents('.row').hide();
        $('#pw3').val('Password').parent().parent().show();
      }
    });
  });
    
