%ul
  %li{:class => (quick_menu == 'dashboard' ? 'active' : nil)}
    %a.dashboard{:href => root_path} Dashboard
  %li{:class => (quick_menu == 'browse' ? 'active' : nil)}
    %a.browse{:href => data_records_path} Browse
  %li{:class => (quick_menu == 'add' ? 'active' : nil)}
    %a.add{:href => new_data_record_path} Add Data
