/ block-about
.block-about
  %h1 About Data Uncovered
  .aside
    .frame
      %ul
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => "#"} Contact us
  .column
    %span
      Development data should be open: easy to find and understand. No walls.
      %a{:href => "#"} Data Uncovered

