/ block-about
.block-about
  %h1 About Data Uncovered
  .aside
    .frame
      %ul
        %li
          %a{:href => "#"} FAQs
        %li
          %a{:href => "#"} Contact us
  .column
    %span
      Development data should be open: easy to find and understand. No walls.
      %a{:href => "#"} Data Uncovered
      lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel tellus ut enim ornare interdum ut nec nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent gravida velit et felis porta euismod. Fusce viverra ipsum at risus porta nec imperdiet lectus blandit.
    %p Pellentesque vehicula eleifend ligula, id facilisis ipsum dictum pharetra. Vivamus vestibulum lectus eget massa scelerisque vitae tristique ipsum adipiscing. Pellentesque vestibulum tellus eget lacus molestie rhoncus. Fusce felis velit, fermentum at eleifend quis, facilisis ut libero. Nulla nulla enim, pulvinar a faucibus facilisis, gravida at nisi. Curabitur feugiat leo id dui condimentum luctus. Proin in sem vel ligula semper scelerisque a non velit. Sed posuere sagittis risus, sed hendrerit quam lacinia ut. Maecenas id dictum tortor. Pellentesque posuere enim erat, eu dignissim massa. Maecenas sollicitudin ligula porta est hendrerit sollicitudin. Curabitur mollis auctor ante id pharetra. Suspendisse faucibus adipiscing augue.
    %p Suspendisse ut dolor malesuada enim ullamcorper dapibus. Phasellus vitae mauris elit. Aenean justo sem, bibendum ut rutrum at, imperdiet eget nibh. Nullam erat metus, volutpat ut placerat eget, fermentum non lectus. Vivamus sed tellus lectus. Ut sed libero nunc, in porta lectus. Morbi suscipit suscipit eros, in blandit tortor tristique sit amet. In vulputate imperdiet nisl id placerat. dictum porta. Sed ante metus, posuere a tincidunt eu, accumsan vel elit. Cras nec nibh eget nibh malesuada pretium et eu leo.
