<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <% link_to new_admin_organization_path, :class => "add_organization" do %>
      <span>Add Organization</span>
    <% end %>
  </div>
</div>
<div class="clear"></div>
