<% content_for :title do %>
  New Organization
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">

<% form_for [:admin, @organization] do |f| -%>
  <%= show_flash_message %>
  <ul>
    <%= render 'form', :form => f %>
    <li>
      <button class="submit" id="user_submit" type="submit" value="Update" name="commit">
        <span>Submit</span>
      </button>
    </li>
  </ul>

<% end -%>
</div>

<%= render 'sidebar' %>
